*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(./huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size:cover;
}


/* font-family: "Open Sans", sans-serif; */
/* font-family: "Poppins", sans-serif; */